/*
  Custom styles for Trackster App
*/

/* HTML */
html {
  font-size: 16px;
}

/* Header */

header {
  background-color: rgb(35, 2, 63);
  margin: 0;
  padding: 3rem 0;
  width: 100%;
}

.row {
  margin: auto;
}

h1 {
  color: rgb(255, 0, 171);
  font-family: "Righteous";
  font-size: 2.5rem;
  margin: 0;
}

input {
  border-radius: 2rem;
  color: rgb(191, 191, 191);
  height: 2.5rem;
  padding: 1rem;
}

.btn {
  background-color: rgb(255, 0, 171);
  border-radius: 1.5rem;
  width: 15%;
}

.btn:hover {
  background-color: rgb(255, 102, 204);
}

input:hover,
input:focus,
input:active,
.btn:hover,
.btn:focus,
.btn:active {
  outline: 0;
}


/* List Head */

#list-head {
  background-color: rgb(104, 0 ,255);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}

#list-head li{
  font-size: 1.2rem;
}

#list-head li:nth-child(2) {
  text-align: left;
}


/* Song Section */

#song-section {
  background-color: rgb(255, 255, 255);
  color: inherit;
}

#song-info {
  align-items: center;
  display: flex;
}

#song-section > div {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#song-section ul {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.fa-play-circle-o {
  color: rgb(255, 0, 171);
}
