/*
  Custom styles for Trackster App
*/

/* HTML */
html {
  font-size: 16px;
}

/* Header */

header {
  background-color: rgb(35, 2, 63);
  margin: 0;
  padding: 3rem 0;
  width: 100%;
}

.row {
  margin: auto;
}

h1 {
  color: rgb(255, 0, 171);
  font-family: "Righteous";
  font-size: 2.5rem;
  margin: 0;
}

.app-title {
  animation-name: trackster;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes trackster {
  from {
    color: rgb(255, 0, 171);
    letter-spacing: 0rem;
  }

  33% {
    color: rgb(255, 0, 0);
    letter-spacing: 0.3rem;
  }

  66% {
    color: rgb(104, 0 ,255);
    letter-spacing: 0.6rem;
  }

  to {
    color: rgb(255, 0, 171);
    letter-spacing: 0rem;
  }
}

input {
  border-radius: 2rem;
  /*color: rgb(191, 191, 191);*/
  height: 2.5rem;
  padding: 1rem;
}

.btn {
  background-color: rgb(255, 0, 171);
  border-radius: 1.5rem;
  transition: color 0.3s ease 0.1s,
              background-color 0.3s ease 0.1s;
  width: 15%;
}

.btn:hover {
  background-color: rgb(255, 102, 204);
  color: rgb(191, 191, 191);
}

input:hover,
input:focus,
input:active,
.btn:hover,
.btn:focus,
.btn:active {
  outline: 0;
}


/* Tracklist Head */

#tracklist-head {
  background-color: rgb(104, 0 ,255);
  color: rgb(255, 255, 255);
  display: none;
  padding: 0.5rem;
}

#tracklist-head li{
  font-size: 1.2rem;
  transition: color 0.3s ease 0.1s;
}

#tracklist-head li:focus,
#tracklist-head li:hover {
  color: rgb(255, 0, 171);
  cursor: pointer;
}

#tracklist-head li:nth-child(2) {
  text-align: left;
}

#tracklist-head li:nth-child(4) {
  text-align: center;
}

#tracklist-head li:last-child {
  text-align: right;
}


/* Tracks Section */

#tracklist-section {
  background-color: rgb(255, 255, 255);
  color: inherit;
}

#track-info {
  align-items: center;
  display: flex;
}

#tracklist-section > div {
  border-bottom: 1px solid rgb(204, 204, 204);

  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  transition: background-color 0.3s ease 0.1s;
}

#tracklist-section > div:focus,
#tracklist-section > div:hover {
  background-color: rgb(191, 191, 191);
}

#tracklist-section ul {
  font-size: 1.2rem;
  margin-bottom: 0;
}

#tracklist-section li:nth-child(4) {
  height: 64px;
  text-align: center;
}

#tracklist-section li:last-child {
  text-align: right;
}

.fa-play-circle-o {
  background-color: rgb(35, 2, 63);
  border-radius: 50%;
  color: rgb(191, 191, 191);
  padding: 2px 4px;
  transition: color 0.3s ease 0.1s,
              background-color 0.3s ease 0.1s;
}

.fa-play-circle-o:focus,
.fa-play-circle-o:hover {
  color: rgb(255, 0, 171);
  background-color: rgb(191, 191, 191);
}

p {
  color: rgb(191, 191, 191);
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}
